* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Body {
    height: 100px;
    background-color: #444083;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#temp {
    text-align: center;
}

#temp #temp-unit {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #ffffff;
}

#temp #temp-value {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #ffffff;
}

#climate {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

#location {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}

#temp-icon {
    margin: 1rem;
    width: 40%;
    height: auto;
}

main {
    padding: 20px;
    margin-top: 10px;
    background-color: gray;
    border-radius: 20px;
    width: 360px;
    height: 360px;
    align-items: center;
    box-shadow: 10px 10px 20px 10px rgba(red, lightgreen, blue, alpha);
    margin-right: auto;
    margin-left: auto;
}


/* #search-button{
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    border-radius: 10px;
    transition: all 0.4 ease 0s;
} */


/* #search-button:hover {
    color: #ffffff;
    background-color: aqua;
    border-color: #ffffff;
} */


/* #search-input {
    height: 30px;
    width: 270px;
    border-radius: 10px;
    font-size: 20px;
    margin: 8px 0;
    padding: 8px 0;
    outline: none;
    background: none;
    color: white;
    border-bottom: 3px solid wheat;
} */

input {
    border: none;
}